<ActionBar title="Perfil de cliente">
    <NavigationButton android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem ios:position="right" ios.systemIcon="2">
        <Button (tap)="onBack()"></Button>
    </ActionItem>
</ActionBar>
<StackLayout height="100%">
    <!-- Image with CSS and an icon fonts -->
    <Image [src]="usuario['avatar']" width="200" borderRadius="100" marginTop="25"></Image>


    <FlexboxLayout marginTop="20" textAlignment="center">
        <Label text="Nombres y Apellidos: " textWrap="true" fontSize="17" fontWeight="bold"></Label>
        <Label text="usuario['first_name'] usuario['last_name']" textWrap="true" fontSize="17"></Label>
    </FlexboxLayout>
    <FlexboxLayout marginTop="20" textAlignment="center">
        <Label text="Correo: " textWrap="true" fontSize="17" fontWeight="bold"></Label>
        <Label [text]="usuario['email']" textWrap="true" fontSize="17"></Label>
    </FlexboxLayout>


</StackLayout>