
<ActionBar title="My App">
    <NavigationButton></NavigationButton>
    <ActionItem ios:position="right">
        <Button text="My Action"></Button>
    </ActionItem>
</ActionBar>
<StackLayout class="nt-form">
    <!-- The contents of the form -->
    <StackLayout class="nt-input">
        <TextField hint="Option 1"></TextField>
    </StackLayout>
    <StackLayout class="nt-input">
        <TextField hint="Option 2"></TextField>
    </StackLayout>
    <StackLayout class="nt-input">
        <TextField hint="Option 3"></TextField>
    </StackLayout>
    <Label class="view" text="{N}"></Label>
    
  </StackLayout>